<div class="flexbox">
  <div class="restaurant-container">
    <h1><%= @restaurant.name %></h1>
    <h4>Category: <%= @restaurant.category %></h4>
    <h4>Address: <%= @restaurant.address %></h4>
    <h4>Phone: <%= @restaurant.phone_number %></h4>

    <h3>Reviews:</h3>

    <% @restaurant.reviews.each do |review| %>
      <p>
        <%= review.content  %> | <strong><%= '*' * review.rating %></strong>
      </p>
    <% end %>


    <%= link_to "Write a new review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

 </div>
</div>
